<h1>Welcome to Question and Answer</h1>

<h2>Questions</h2>

<ul>
  {{#each model.questions as |question|}}
  <li class="well question">
    <h3>
      {{question-no-answer question}} {{#link-to 'question' question.id}}{{question.content}}{{/link-to}}
    </h3>
    <p>by {{question.author}}</p>
    {{#if question.onTeam}}
      <h5>this question is added to your favorite list!</h5>
    {{else}}
    <button {{action 'addToFavorite' question}}>Add to Favorite</button>
    {{/if}}
  </li>
  {{/each}}
</ul>

{{new-question save='save'}}
<br>
{{display-favorite}}
