<h1>{{model.content}} </h1>
<p>note: {{model.note}}</p>

{{update-question question=model update="update"}}

{{sort-answer answers=model.answers}}

{{new-answer saveAnswer='saveAnswer' question=model}}
