<h1>{{model.content}} </h1>
<p>note: {{model.note}}</p>

{{update-question question=model update="update"}}

<h3>Answers are sorted by number of upvotes:</h3>
{{sort-answer answers=model.answers}}

{{new-answer saveAnswer='saveAnswer' question=model}}
