<h1>{{model.content}} </h1>
<p>note: {{model.note}}</p>

{{update-question question=model update="update"}}

<ul>
  {{#each model.answers as |answer|}}
    <li class="well">
      <h3>{{answer.content}}</h3> <p>by {{answer.author}}</p>
    </li>
  {{/each}}
</ul>

{{new-answer saveAnswer='saveAnswer' question=model}}
